

<!-- Button trigger modal -->
<button (click)="addCardType()" type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Card Type
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" (click)="closeCardType()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-card-type-form *ngIf="ActivateAddEditCardTypeComp"></app-card-type-form>
        </div>
      </div>
    </div>
  </div>
  <br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Card Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pd of service.cardTypeList">
            <td (click)="editCardType(pd)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{pd.cardType}}</td>
            <td>
                <i class="fas fa-trash-alt text-danger fa-lg"></i>
            </td>
        </tr>
    </tbody>
</table>